name: flutter95
description: Windows95 UI components for Flutter apps. Bring back the nostalgic look and feel of old operating systems with this set of UI components ready to use.
version: 1.3.1
homepage: https://github.com/miquelbeltran/flutter95
funding: 
  - https://github.com/sponsors/miquelbeltran

environment:
  sdk: '>=3.1.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  assets:
    - icons/icon_error.png
    - icons/checkmark.png
    - icons/checkmark_disabled.png
